<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<h1>Hello World</h1>
<div th:each="user : ${users}">
    <h2 th:text="'username:' + ${user.username}"></h2>
</div>

<div th:each="worker : ${workers}">
    <h2 th:text="'amount:' + ${worker.amount}"></h2>
</div>
</body>
</html>